@page "/"
@using Grl.TokenGeneration
@using Data;


<button @onclick = "User_Interface">click me to c ui</button>
@code{
    public void User_Interface()
    {
        
    }
    //public  void Api()
    //{
    //    UserAuthenticationHelper user = new UserAuthenticationHelper();
    //    user.Accesstokentimer();
    //}
}