body {
    padding: 0;
    margin:0;
}
section{
    padding-left:20px;
    height:100vh;
    background: #000;
    width:85%;
}
h1{
    color: #fff;
    font-size:4em;
    position:absolute;
    top:30%;
    transform:translateY(-30%);
    /*text-align:left;*/
    padding-left:3em;
    width:100%;
}
.fontsize {
    font-size: 150px;
}
h1 span{
    display:inline-block;
    animation: animat 1s linear forwards;
}
@keyframes animat{
    0%{
        opacity:0;
        transform:rotateY(90deg);
        filter:blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0px);
    }
}
video{
    height:100vh;
}