@page "/projectlist/task/issuedetails"

<style>
    .center{
        text-align:center;
    }
    .divLeft{
        width: 50%;
        float:left;
        padding:10px;
    }
    .divRight{
        width: 50%;
        float:left;
        padding:10px;
    }
    
</style>
<table class="table table-bordered table-striped mb-0">
    <thead class="bg-warning">
        <tr>
            <th class="center" colspan = "2">Task Details  of @Bug_Title</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> Bug Name </th>
            <td> @Bug_Title </td>
        </tr>
        <tr>
            <th> Assigned Person Name </th>
            <td> @Assin_Name </td>
        </tr>
        <tr>
            <th> Bug Number </th>
            <td> @Bug_No </td>
        </tr>
        <tr>
            <th> Total No of Comments </th>
            <td> @No_of_Comments </td>
        </tr>
        <tr>
            <th> Updated Date </th>
            <td> @Updated_time </td>
        </tr>
        <tr>
            <th> Reporting Person </th>
            <td> @Report_Person </td>
        </tr>
        <tr>
            <th> Status </th>
            <td> @Status_I </td>
        </tr>
    </tbody>
</table>

@code {
    public string Bug_Title { get; set; }
    public string Assin_Name { get; set; }
    public string Bug_No { get; set; }
    public string No_of_Comments { get; set; }
    public string Updated_time { get; set; }
    public string Report_Person { get; set; }
    public string Status_I { get; set; }

    protected override void OnInitialized()
    {
        //RegenerateAcc_Token.RegenerateAccessToken(Linksforall.A_Token, EnumClass.METHOD.POST.ToString());

        Bug_Details();
    }
    public void Bug_Details()
    {
        int indNo = 0;
        string filep = Directory.GetCurrentDirectory();
        System.IO.File.WriteAllText(filep + @"\Appdata\Selected_Issue.txt", RegenerateAcc_Token.jstring);
        string FilePath = @"D:\Marksteev_GRL\Github Files\GRLZOHO\GRLZOHO\Appdata\Selected_Issue.txt";
        var myJsonString = File.ReadAllText(FilePath);
        var myJsonObject = JsonConvert.DeserializeObject<IssueDetail>(myJsonString);
        Bug_Title = myJsonObject.bugs[indNo].title;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine(" Bug_Title Name " + Bug_Title);
        Console.WriteLine("----------------------------------------");

        Assin_Name = myJsonObject.bugs[indNo].assignee_name;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("Assigned Person Name " + Assin_Name);
        Console.WriteLine("----------------------------------------");

        Bug_No = myJsonObject.bugs[indNo].bug_number;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("Bug Number " + Bug_No);
        Console.WriteLine("----------------------------------------");

        No_of_Comments = myJsonObject.bugs[indNo].comment_count;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("No_of_Comments " + No_of_Comments);
        Console.WriteLine("----------------------------------------");

        Updated_time = myJsonObject.bugs[indNo].updated_time;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("Updated Date " + Updated_time);
        Console.WriteLine("----------------------------------------");

        Report_Person = myJsonObject.bugs[indNo].reported_person;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("Reporting Person " + Report_Person);
        Console.WriteLine("----------------------------------------");

        Status_I = myJsonObject.bugs[indNo].status.type;
        Console.WriteLine("----------------------------------------");
        Console.WriteLine("Status " + Status_I);
        Console.WriteLine("----------------------------------------");

        Console.WriteLine("----------------------------------------");
        Console.WriteLine(RegenerateAcc_Token.jstring);
        Console.WriteLine("----------------------------------------");
    }
}
