@page "/projectlist/Issues"

@*<HorizontalNavMenu></HorizontalNavMenu>*@

<br />
<br />
<style>
    .center{
        text-align:center;
    }
    a{
        text-decoration : none;
    }
    .isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding:10px;
    font-size:20px;
}

</style>
<table class="table table-bordered table-striped mb-0">
    <thead class="bg-warning">
        <tr>
            <th class="center">Issue Name</th>
            @*<th>Status</th>
            <th>Tag</th>
            <th>Start Date</th>
            <th>Due Date</th>*@
        </tr>
    </thead>
    <tbody>
        
                
            @if(myJsonString == " ")
            {
                <div class="isa_error center">
                   
  
  @BugInfo
     
</div>
                
                                      
              
            }
            else
            {
                @foreach (var item in I_Name.Select((value, i) => new { i, value }))
                {
                    var value = item.value;
                    var index = item.i;
                    <tr>
                        <td><a href="projectlist/task/issuedetails" @onclick = "(()=> Select_Issue(index))"> @value</a></td>                
                    </tr>
                }
            
            }
        @*@foreach (var dummy1 in T_Name)
        { 
            <tr>
                <td>@dummy1</td>                
            </tr>
        }*@
    </tbody>
</table>

@code {
    public List<string> I_Name { get; set; }
    public List<string> I_Link { get; set; }
    public string myJsonString { get; set; }
    public string BugInfo { get; set; }



    protected override void OnInitialized() 
    {
        //RegenerateAcc_Token.RegenerateAccessToken(Linksforall.A_Token, EnumClass.METHOD.POST.ToString());
        I_Name = new List<string>();
        I_Link = new List<string>();
        IssueDetails_all();
    }
    public void IssueDetails_all()
    {
        
        string filep = Directory.GetCurrentDirectory();
        System.IO.File.WriteAllText(filep + @"\Appdata\All_Issues_SP.txt", RegenerateAcc_Token.jstring);
        string FilePath = @"D:\Marksteev_GRL\Github Files\GRLZOHO\GRLZOHO\Appdata\All_Issues_SP.txt";
        myJsonString = File.ReadAllText(FilePath);
        var myJsonObject = JsonConvert.DeserializeObject<IssueDetail>(myJsonString);
        //I_Count = myJsonObject.bugs.Count;
        if (myJsonObject != null)
        {
            if (myJsonObject.bugs == null)
            {
                Console.WriteLine("No Issues found");
            }
            else
            {
                Console.WriteLine(myJsonObject);
                for (var i = 0; i < myJsonObject.bugs.Count; i++)
                {
                    I_Name.Add(myJsonObject.bugs[i].title);
                    I_Link.Add(myJsonObject.bugs[i].link.self.url);
                    Console.WriteLine(I_Name[i]);
                    Console.WriteLine(I_Link[i]);
                }
            }

        }
        else
        {
            BugInfo = "There is no Bugs found !!!";
            Console.WriteLine(BugInfo);
        }
    }
    public void Select_Issue(int indNo)
    {
        HorizontalNavMenu horizontalNavMenu = new HorizontalNavMenu();
        horizontalNavMenu.St_Pt_Url(I_Link[indNo]);
    }
        
        
    
}
