@page "/projectlist/Milestone"

@*<HorizontalNavMenu></HorizontalNavMenu>
*@
<br />
<br />
<style>
    .center{
        text-align:center;
    }
    a{
        text-decoration : none;
    }
</style>
<table class="table table-bordered table-striped mb-0">
    <thead class="bg-warning">
        <tr>
            <th class="center">Milestone Name</th>
            @*<th>Status</th>
            <th>Tag</th>
            <th>Start Date</th>
            <th>Due Date</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in M_Name.Select((value, i) => new { i, value }))
            {
                var value = item.value;
                var index = item.i;
                <tr>
                    <td><a href="projectlist/task/milestonedetails" @onclick = "(()=> Select_Milestone(index))"> @value</a></td>                
                </tr>
            }
        @*@foreach (var dummy1 in T_Name)
        { 
            <tr>
                <td>@dummy1</td>                
            </tr>
        }*@
    </tbody>
</table>

@code {
    public List<string> M_Name { get; set; }
    public List<string> M_Link { get; set; }

    protected override void OnInitialized() 
    {
        //RegenerateAcc_Token.RegenerateAccessToken(Linksforall.A_Token, EnumClass.METHOD.POST.ToString());
        M_Name = new List<string>();
        M_Link = new List<string>();
        taskDetails_all();
    }
    public void taskDetails_all()
    {
        string filep = Directory.GetCurrentDirectory();
        System.IO.File.WriteAllText(filep + @"\Appdata\All_Milestones_SP.txt", RegenerateAcc_Token.jstring);
        string FilePath = @"D:\Marksteev_GRL\Github Files\GRLZOHO\GRLZOHO\Appdata\All_Milestones_SP.txt";
        var myJsonString = File.ReadAllText(FilePath);
        var myJsonObject = JsonConvert.DeserializeObject<MilestoneDetails>(myJsonString);
        if (myJsonObject != null)
        {
            if (myJsonObject.milestones == null)
            {
                Console.WriteLine("No Milestones found");
            }
            else
            {
                Console.WriteLine(myJsonObject);
                for (var i = 0; i < myJsonObject.milestones.Count; i++)
                {
                    M_Name.Add(myJsonObject.milestones[i].name);
                    M_Link.Add(myJsonObject.milestones[i].link.self.url);
                    Console.WriteLine(M_Name[i]);
                    Console.WriteLine(M_Link[i]);
                }
            }

        }
        else
        {
            Console.WriteLine("There is no tasks found in database");
        }
    }
    public void Select_Milestone(int indNo)
    {
        HorizontalNavMenu horizontalNavMenu = new HorizontalNavMenu();
        horizontalNavMenu.St_Pt_Url(M_Link[indNo]);
    }
        
        
    
}
