@*<div class="header">
  <div class="header-right">
    <a href="projectlist/task" @onclick = "All_tasks">Task</a>
    <a href="#">Milestone</a>
    <a href="#" >Issue</a>
  </div>
</div>*@

<div class="topnav" id="myTopnav">
  <a href="projectlist/task" @onclick = "All_tasks">Task</a>
  <a href="#">Milestone</a>
  <a href="#" >Issue</a>
  @*<a href="javascript:void(0);" class="icon" @onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>*@
</div>

@code {
    public List<string> Project_Link { get; set; }
    public List<string> Project_Task_Link { get; set; }

    protected override void OnInitialized()
    {
        Project_Link = new List<string>();
        Project_Task_Link = new List<string>();
        RegenerateAcc_Token.RegenerateAccessToken(Linksforall.A_Token, EnumClass.METHOD.POST.ToString());
    }

    public void All_tasks()
    {
        //TODO: store the jstring to a file and deserialize to get the task list of the project
        //Creating the Projects.txt file and storing the obtained dat in the text file specified
        int ind = 0;
        string filep = Directory.GetCurrentDirectory();
        System.IO.File.WriteAllText(filep + @"\Appdata\Single_Project.txt", RegenerateAcc_Token.jstring);
        // Location of the filepath to Read and to deserialize the data
        string FilePath = @"C:\Users\GTrusted\Downloads\GRLZOHO\GRLZOHO\GRLZOHO\Appdata\Single_Project.txt";
        var myJsonString = File.ReadAllText(FilePath);
        var myJsonObject = JsonConvert.DeserializeObject<ProjectDetails>(myJsonString);
        string Task_url = myJsonObject.projects[ind].link.task.url;
        Console.WriteLine(Task_url);
        RegenerateAcc_Token.Operations(Task_url, RegenerateAcc_Token.access_token, EnumClass.METHOD.GET.ToString());
        
        

    }
   
    public void St_Pt_Url(string url)
    {        
        RegenerateAcc_Token.Operations(url, RegenerateAcc_Token.access_token, EnumClass.METHOD.GET.ToString());
        Console.WriteLine(url);
    }
}
